@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=UnifrakturMaguntia&display=swap');
@import 'tailwindcss';

@theme {
  --font-unifrakturmaguntia: 'UnifrakturMaguntia', cursive;
  --font-ebgaramond: 'EB+Garamond', serif;
}

.debug {
  @apply border-2 border-dashed border-red-500;
}

.bg-scroll {
  background-color: #bd832c;
  background-image: url('/src/assets/images/textures/light-paper-fibers.png');
}
